@import "nav.css";
@import "foot.css";
body {
  margin: 0px;
}

/******* Small screens *****/

.blogcontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hd"
    "main"
    "sd"
    "ft";
  /* width: 100%; */
  font-family: "Roboto", sans-serif;
}
.header {
  grid-area: hd;
}
.content {
  grid-area: main;
}
.sidebar {
  grid-area: sd;
  background-color: #fdf9fc;
}
.footer {
  grid-area: ft;
}

/*** title ****/

.topic {
  text-align: center;
}

/******* article *******/

.caption {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-size: auto;
  font-family: "Caveat", cursive;
  color: #ffc107;
}
p {
  font-size: auto;
  padding: 5px;
}
.sub {
  color: #424642;
}
.article {
  margin: 15px;
}
.main-img {
  background-position: center;
  position: relative;
  background-size: cover;
  max-width: 100%;
  border-radius: 10px;
  justify-self: center;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
  0 15px 40px rgba(166, 173, 201, 0.2);
}
.subtitle {
  text-decoration: underline;
  text-decoration-color: #000000;
}

blockquote {
  margin-right: 20px;
  background-color: #eee;
  border-radius: 10px;
  line-height: 2em;
  padding: 10px;
}

/*** SideGrid ***/

.logo1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.person {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.post1 {
  text-align: center;
}
.post {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 200px;
  height: 200px;
}
.photo1 {
  background-image: url("../images/corn-slad1.jpg");
  background-size: cover;
}
.photo2 {
  background-image: url("../images/greek-salad1.jpg");
  background-size: cover;
}
.photo3 {
  background-image: url("../images/avacado-salad2.jpg");
  background-size: cover;
}
.link {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #000000;
  text-align: center;
  font-family: "Caveat", cursive;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgb(255, 255, 255, 0.8);
  padding: 10px;
}

/**** Form ****/

.form {
  display: flex;
  padding: 20px;
  background-color: #fdf9fc;
}
input {
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
textarea {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

/****** Small Screens *******/
@media (min-width: 600px) and (max-width: 1100px) {
  .blogcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 4fr, 1.5fr;
    grid-template-areas:
      "hd hd hd "
      "main main sd"
      "ft ft ft ";
    font-family: "Roboto", sans-serif;
  }
  .sidebar {
    justify-self: center;
  }
}

/****** Large Screens *******/

@media (min-width: 1100px) {
  .blogcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 4fr, 1.5fr;
    grid-template-areas:
      "hd hd hd "
      "main main sd"
      "ft ft ft ";
    font-family: "Roboto", sans-serif;
  }
  .sidebar {
    justify-self: center;
  }
}
.list li{
  list-style-type: none;
  display: inline;
  position: relative;
  padding-right: 5px;
  font-size:20px;
}

