.header {
  background-color: #424642 ;
  box-shadow:inset 0 -15px 5px -16px #FFF;
  display:flex;
  justify-content: space-between;
}
.main-nav {
  float: right;
  list-style: none;
  margin: 0;
  align-self:center;
}
.nav {
    display:inline-block;
    padding: 10px;
}
a {
  text-decoration: none;
  color: white;
}
.contact {
  justify-content: flex-end;
}
.logo {
  margin-left: 30px;
  width: 120px;
}
